body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* HEADER - top-header (header 전체 영역) */

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  transition: height .5s;
}

header > .top-header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* HEADER - top-header (header 내부 영역) */
header .inner {
  width: 1200px;
  /* background-color: lightgrey; */
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

/* HEADER - header-Left (header 내부 영역의 Lt) (SSS) */
header > .top-header .header-lt {
  /* background-color: aqua; */
  width: 220px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

header > .top-header .header-lt > .btn-login .btn-orange {
  width: 80px;
  height: 30px;
  color: #FFB038;
  background-color: #fff;
  border: 2px solid #FFB038;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

header > .top-header .header-lt > .btn-login .btn-orange:hover {
  background-color: #FFB038;
  color: #fff;
  font-weight: 700;
}


header > .top-header .header-lt > .btn-login .btn-orange > span {
  font-size: 14px;
}

header > .top-header .header-lt > .btn-sign-up .btn-green > span {
  font-size: 14px;
}

header > .top-header .header-lt > .btn-sign-up .btn-green {
  width: 104px;
  height: 30px;
  color: #fff;
  /* font-weight: 700; */
  background-color: #69CF45;
  border: 2px solid #69CF45;
  border-radius: 5px;
  cursor: pointer;
}

header > .top-header .header-lt > .btn-sign-up .btn-green:hover {
  color: #69CF45;
  font-weight: 700;
  background-color: #fff;
}

/* HEADER - header-Left (header 내부 영역의 Lt) (EEE) */

/* HEADER - header-Center (header 내부 영역 Center(logo)) */
header > .top-header .header-center {
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
}

header > .top-header .header-center > .logo > h1 .logo {
  width: 320px;
}

/* HEADER - header-Right (header 내부 영역의 Rt) (SSS) */
header > .top-header .header-rt {
  width: 220px;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column-reverse;
}

header > .top-header .header-rt > .btn-search > input {
  width: 200px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #FFB038;
  border-radius: 5px;
  outline: none;
}

header > .top-header .header-rt > .btn-search {
  position: relative;
}

header > .top-header .header-rt > .btn-search > .material-icons {
  color: #FFB038;
  font-size: 28px;
  position: absolute;
  top: 4px;
  right: 16px;
}
header > .top-header .header-rt > .search_image {
  position: relative;
}

header > .top-header .header-rt img {
  width: 130px;
  position: absolute;
  left: 20px;
  bottom: -10px;
}

input::placeholder {
  font-size: 14px;
  color: #7A7A7A;
}
/* HEADER - header-Right (header 내부 영역의 Rt) (EEE) */

/* HEADER - main_menu (SSS) */
header > .gnb {
  width: 100%;
  height: 45px;
  background-color: yellow;
  z-index: 1;
  display: flex;
  justify-content: center;
}

header > .gnb > .main-menu {
  display: flex;
  text-align: center;
}
header > .gnb > .main-menu a {
  font-family: 'TTCrownMychewR';
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: block;
  padding: 12px 30px;
}
@font-face {
  font-family: 'TTCrownMychewR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

header .main-menu:hover .sub-menu {
  transition: all .5s .5s;
}

header .sub-menu {
  width: 100%;
  background-color: lightgray;
  /* text-align: center; */
  z-index: 1; 
  visibility: hidden;
}

/* HEADER - main_menu (EEE) */

/* MAIN */
main h1 {
  font-size: 24px;
  text-align: center;
  padding: 50px;
}

/* SECTION: 우리동네 하루마켓 전체 프레임 (SSS) */
main > .local_market_map {
  width: 100%;
  height: 700px;
  background-color: azure;
  margin-top: 165px;
  display: flex;
  justify-content: center;
}

main > .local_market_map > .inner {
  width: 1200px;
  height: 680px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
}

/* 내 위치/위치 입력 div */
main > .local_market_map > .inner > .container {
  margin: 0 auto;
  width: 1050px;
  height: 450px;
  /* margin-top: -120px; */
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-around;
}

/* 위치/위치 입력 묶은 DIV */
main > .local_market_map > .inner > .container > .container-lt > .contents {
  width: 350px;
  height: 80px;
  /* background-color: lightgray; */
  display: flex;
  justify-content: space-between;
}

/* 내 위치 찾기 input*/
main > .local_market_map > .inner > .container > .container-lt #my_location {
  width: 200px;
  height: 30px;
  padding: 0 0 0 8px;
  border: 2px solid #69CF45;
  border-radius: 5px;
  outline: none;
}

main > .local_market_map > .inner > .container > .container-lt {
  position: relative;
}

/* material-icons LOCATION*/
main > .local_market_map > .inner > .container > .container-lt .material-icons {
  color: #69CF45;
  position: absolute;
  top: 5px;
  right: 150px;
}

/* 직접 입력하기 버튼*/
main > .local_market_map > .inner > .container > .container-lt > .contents .btn-green {
  width: 130px;
  height: 35.5px;
  color: #fff;
  font-size: 14px;
  background-color: #69CF45;
  border: 2px solid #69CF45;
  border-radius: 5px;
  cursor: pointer;
}

/* 내 위치 주변 등록된 마켓 목록 3개 */
main > .local_market_map > .inner > .container > .container-lt > .market {
  width: 350px;
  height: 320px;
  /* background-color: darkkhaki; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > .local_market_map > .inner > .container > .container-lt .market__content_01 {
  width: 350px;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #69CF45;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 10px;
  position: relative;
}
main > .local_market_map > .inner > .container > .container-lt .market__content_02 {
  width: 350px;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #69CF45;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 10px;
  position: relative;
}
main > .local_market_map > .inner > .container > .container-lt .market__content_03 {
  width: 350px;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #69CF45;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 10px;
  position: relative;
}
/* material-icons */
main > .local_market_map > .inner > .container > .container-lt > .market .material-icons {
  font-size: 18px;
  color: #2CAA00;
  position: absolute;
  top: 65px;
  right: 0;
  cursor: pointer;
}

/* 내 위치 주변 마켓 지도 */
main > .local_market_map > .inner .market_map {
  width: 650px;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: orange; */
  background-image: url(../image/main01_지도.JPG);
  background-size: cover;
  position: relative;
}

main > .local_market_map > .inner .market_map > span#my_location {
  color: #ff8838;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 280px;
  top: 210px;
  cursor: pointer;
}

main > .local_market_map > .inner .market_map > .material-icons {
  color: #2CAA00;
  font-size: 20px;
  cursor: pointer;
}

main > .local_market_map > .inner .market_map > span#dot_01{
  position: absolute;
  right: 220px;
  top: 240px;
}
main > .local_market_map > .inner .market_map > span#dot_02{
  position: absolute;
  left: 80px;
  top: 160px;
}
main > .local_market_map > .inner .market_map > span#dot_03{
  position: absolute;
  left: 170px;
  top: 340px;
}

main > .local_market_map > .inner .market_map > .material-icons:hover {
  color: #FFB038;
  font-size: 20px;
  cursor: pointer;
}

/* SECTION: 우리동네 마켓등록/제보  */
main > .market_submit {
  width: 100%;
  height: 680px;
  background-color: #FBF3F1;
}

/* ******************************* 슬 라 이 드 ***************************** */
main > .market_submit > .slide {
  width: 1400px;
  height: 40px;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
}

main > .market_submit .slide_left {
  width: 700px;
  height: 40px;
  border-top: 1px solid #FFB038;
  border-bottom: 1px solid #FFB038;

}

main > .market_submit .slide_left > .left_01 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .market_submit .slide_left > .swiper {
  height: 25px;
  padding: 3px 0 0 140px;
}
main > .market_submit .slide_left > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
main > .market_submit .slide_right {
  width: 700px;
  height: 40px;
  border-top: 1px solid #FFB038;
  border-bottom: 1px solid #FFB038;
  /* background-color: orangered; */
}
main > .market_submit .slide_right > .right_01 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .market_submit .slide_right > .swiper {
  height: 25px;
  padding: 3px 0 0 150px;
}
main > .market_submit .slide_right > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
/* ***************************** 슬 라 이 드 ************************** */

main section.inner {
  width: 1200px;
  /* height: 680px; */
  /* background-color: pink; */
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
}

main section.inner > .youtube {
  width: 60%;
  /* background-color: cyan; */
}

/* ******************** youtube ******************** */
.youtube {
  position: relative;
  overflow: hidden;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* ********************* youtube ******************* */

main .inner .submit__contents .btn-green {
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #69CF45;
  border: 1px solid #69CF45;
  border-radius: 5px;
}

/* 하루마켓 제보 큰 콘텐츠 영역 */
main .inner > .report {
  width: 550px;
  height: 500px;
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .inner .submit__contents {
  width: 500px;
  height: 200px;
  /* background-color: lightgrey; */
  position: relative;
}

main .inner .submit__contents .product__content {
  width: 100px;
  height: 32px;
  font-size: 14px;
  padding: 0 0 0 8px;
  color: #363636;
  border: 1px solid #69CF45;
  border-radius: 5px;
}

main .inner .submit__contents .product__content_etc {
  width: 140px;
  height: 32px;
  border: 1px solid #69CF45;
  border-radius: 5px;
  padding: 0 0 0 8px;
  box-sizing: border-box;
  outline: none;
}

main .inner .submit__contents > .content_01 > .material-icons {
  color: #575757;
  font-weight: 700;
  position: absolute;
  top: 5px;
  right: 12px;
  cursor: pointer;
}

main .inner .submit__contents .location {
  width: 180px;
  height: 30px;
  border: 1px solid #69CF45;
  border-radius: 5px;
  padding: 0 0 0 8px;
  box-sizing: border-box;
  outline: none;
}

main .inner .submit__contents > .content_02 {
  position: relative;
}

main .inner .submit__contents > .content_02 > span.material-icons {
  color: #69CF45;
  font-size: 22px;
  position: absolute;
  top: 5px;
  right: 220px;
}

main .inner .submit__contents .btn-orange {
  width: 100px;
  height: 38px;
  color: #fff;
  font-weight: 700;
  background-color: #FFB038;
  border: 1px solid #FFB038;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  bottom: 70px;
  cursor: pointer;
}

main .inner .submit__contents .btn-orange:hover {
  background-color: #fff;
  color: #FFB038;
  font-weight: 700;
  border: 2px solid #FFB038;
}

main .inner .submit__contents > .submit_image > img {
  width: 500px;
  
  position: absolute;
  bottom: -85px;
  opacity: 0.7;
}

main > .local_start_market {
  width: 100%;
  height: 680px;
  background-color: orange;
}

/* MAIN- 인기 마켓 */
main > .local_star_market {
  width: 100%;
  height: 800px;
  background-color: #FAFAD2;
}

main > .local_star_market > .slide {
  width: 1400px;
  height: 40px;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
}

main > .local_star_market .slide_left {
  width: 700px;
  height: 40px;
  border-top: 1px solid #FFB038;
  border-bottom: 1px solid #FFB038;
  /* background-color: orange; */
}

main > .local_star_market .slide_left > .left_03 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .local_star_market .slide_left > .swiper {
  height: 25px;
  padding: 3px 0 0 140px;
}
main > .local_star_market .slide_left > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
main > .local_star_market .slide_right {
  width: 700px;
  height: 40px;
  border-top: 1px solid #FFB038;
  border-bottom: 1px solid #FFB038;;
  /* background-color: orangered; */
}
main > .local_star_market .slide_right > .right_04 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .local_star_market .slide_right > .swiper {
  height: 25px;
  padding: 3px 0 0 150px;
}
main > .local_star_market .slide_right > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

main > .local_star_market > .star_market > .inner {
  width: 1300px;
  height: 600px;
  margin: 0 auto;
  margin-top: 90px;
  /* background-color: pink; */
  display: flex;
  position: relative;
}

main > .local_star_market > .star_market > .inner > .character {
  width: 250px;
  height: 500px;
  /* background-color: lightgray; */

  position: absolute;
  left: -60px;
}

main > .local_star_market > .star_market > .inner > .character > img {
  width: 300px;

  z-index: 1;
  position: absolute;
  margin-bottom: 10px;
}

main > .local_star_market > .star_market > .inner > .star_market__contents {
  width: 1000px;
  height: 600px;
  /* background-color: cadetblue; */
  margin: 0 auto;
}

main > .local_star_market > .star_market > .inner > .star_market__contents > .swiper div.swiper-slide {
  width: 300px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0 rgba(255, 138, 4, 0.2);
}

main > .local_star_market > .star_market > .inner > .star_market__contents > .swiper div.swiper-slide:hover {
  border: 1px solid #2CAA00;
  box-sizing: border-box;
}

main > .local_star_market > .star_market > .inner > .star_market__contents > .swiper div.swiper-slide .star__content {
  width: 300px;
  height: 200px;
  background-color: #ccc;
}

main > .local_star_market > .star_market > .inner > .star_market__contents > .swiper div.swiper-slide .star__content > img {
  width: 300px;
  height: 200px;
}

main > .local_star_market > .star_market > .inner > .star_market__contents > .swiper div.swiper-slide > a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 30px;
}

main > .local_star_market > .star_market > .inner > .star_market__contents > .swiper div.swiper-slide .star__content_text  {
  padding: 10px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #F9823D
}

footer > .inner {
  width: 1200px;
  height: 400px;
  background-color: #F9823D;
  margin: 0 auto;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

footer .top {
  width: 600px;
  height: 60px;
  /* background-color: yellow; */
  position: absolute;
  top: 50px;
  left: 140px;
  display: flex;
  justify-content: space-between;
}

footer .top > .icons {
  display: flex;
}

footer .top .icon {
  width: 34px;
  height: 34px;
  /* background-color: skyblue; */
  /* border: 1px solid blue; */
  border-radius: 25px;
  margin: 0 5px;
}

footer .top .icon > .icon_facebook {
  width: 32px;
}

footer .top .icon > .icon_youtube {
  width: 36px;
}

footer .top .icon img {
  width: 100%;
}

footer .top > .apps {
  display: flex;
}

footer .top .app {
  width: 100px;
  height: 32px;
  background-color: rgb(238, 238, 238);
  /* border: 1px solid blue; */
  border-radius: 5px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .top > .apps > a {
  text-decoration: none;
  color: #000;
}

footer .top .app > img {
  width: 26px;
  height: 26px;
}

footer .top .app > p {
  font-size: 12px;
  font-weight: 700;
}

footer .middle {
  width: 920px;
  height: 40px;

  border-bottom: 3px solid #ccc;
  position: relative;
  top: 180px;
}

footer .middle__contents {
  display: flex;
}
footer .middle .menu {
  display: flex;
}

footer .middle .menu li > a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

footer .middle .menu li > a:hover {
  color: #fff;
  font-weight: 700;
}

footer .middle .menu li > .underline {
  color: #1d6b00;
  font-weight: 700;
}

footer .middle .menu li > .underline:hover {
  color: #92ff6a;
  font-weight: 700;
}

footer .middle .menu li {
  position: relative;
  padding: 10px 20px;
}

footer .middle .menu li::before {
  content: "|";
  font-size: 12px;
  color: #ccc;
  position: absolute;
  top: 10px;
  right: 0;
}

footer .middle .middle__image > img {
  width: 300px;
  position: absolute;
  top: -195px;
  right: 1px;
}

footer .bottom {
  width: 700px;
  height: 60px;
  /* background-color: lightgray; */
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

footer .bottom > .information span {
  padding: 5px;
}