body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* HEADER - top-header (header 전체 영역) */
header > .top-header {
  width: 100%;
  height: 80px;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* HEADER - top-header (header 내부 영역) */
header .inner {
  width: 1200px;
  /* background-color: lightgrey; */
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

/* HEADER - header-Left (header 내부 영역의 Lt) (SSS) */
header > .top-header .header-lt {
  /* background-color: aqua; */
  width: 220px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

header > .top-header .header-lt > .btn-login .btn-orange {
  width: 80px;
  height: 30px;
  color: #FFB038;
  background-color: #fff;
  border: 2px solid #FFB038;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

header > .top-header .header-lt > .btn-login .btn-orange > span {
  font-size: 14px;
}

header > .top-header .header-lt > .btn-sign-up .btn-green > span {
  font-size: 14px;
}

header > .top-header .header-lt > .btn-sign-up .btn-green {
  width: 104px;
  height: 30px;
  color: #fff;
  font-size: px;
  background-color: #69CF45;
  border: 2px solid #69CF45;
  border-radius: 5px;
  cursor: pointer;
}
/* HEADER - header-Left (header 내부 영역의 Lt) (EEE) */

/* HEADER - header-Center (header 내부 영역 Center(logo)) */
header > .top-header .header-center {
  background-color: orange;
}

header > .top-header .header-center > .logo > h1 .logo {
  width: 320px;
}

/* HEADER - header-Right (header 내부 영역의 Rt) (SSS) */
header > .top-header .header-rt {
  width: 220px;
  /* background-color: yellowgreen; */
  display: flex;
  align-items: flex-end;
}

header > .top-header .header-rt > .btn-search > .search {
  width: 200px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #FFB038;
  border-radius: 5px;
}

header > .top-header .header-rt > .btn-search {
  position: relative;
}

header > .top-header .header-rt > .btn-search > .material-icons {
  color: #FFB038;
  font-size: 28px;
  position: absolute;
  top: 4px;
  right: 10px;
}

input::placeholder {
  font-size: 14px;
  color: #7A7A7A;
}
/* HEADER - header-Right (header 내부 영역의 Rt) (EEE) */

/* HEADER - main_menu (SSS) */
header > .gnb {
  width: 100%;
  height: 45px;
  background-color: yellow;
  z-index: 1;
  display: flex;
  justify-content: center;
}

header > .gnb > .main-menu {
  display: flex;

  text-align: center;
}
header > .gnb > .main-menu a {
  font-family: 'TTCrownMychewR';
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: block;
  padding: 12px 30px;
}
@font-face {
  font-family: 'TTCrownMychewR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

header .main-menu:hover .sub-menu {
  transition: all .5s .5s;
}

header .sub-menu {
  width: 100%;
  text-align: center;
  z-index: 1; 
}




/* HEADER - main_menu (EEE) */

/* MAIN */
main h1 {
  font-size: 24px;
  text-align: center;
  padding: 50px;
}

/* SECTION: 우리동네 하루마켓 전체 프레임 (SSS) */
main > .local_market_map {
  width: 100%;
  height: 680px;
  background-color: azure;
  display: flex;
  justify-content: center;
}

main > .local_market_map > .inner {
  width: 1200px;
  height: px;
  /* background-color: pink; */
}

/* 내 위치/위치 입력 div */
main > .local_market_map > .inner > .container {
  margin: 0 auto;
  width: 1030px;
  height: 450px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
}

/* 위치/위치 입력 묶은 DIV */
main > .local_market_map > .inner > .container > .container-lt > .contents {
  width: 350px;
  height: 80px;
  /* background-color: lightgray; */
  display: flex;
  justify-content: space-between;
}

/* 내 위치 찾기 input*/
main > .local_market_map > .inner > .container > .container-lt #my_location {
  width: 200px;
  height: 30px;
  padding: 0 0 0 8px;
  border: 2px solid #69CF45;
  border-radius: 5px;
}

main > .local_market_map > .inner > .container > .container-lt {
  position: relative;
}

/* material-icons LOCATION*/
main > .local_market_map > .inner > .container > .container-lt .material-icons {
  color: #69CF45;
  position: absolute;
  top: 5px;
  right: 150px;
}

/* 직접 입력하기 버튼*/
main > .local_market_map > .inner > .container > .container-lt > .contents .btn-green {
  width: 130px;
  height: 35.5px;
  color: #fff;
  font-size: 14px;
  background-color: #69CF45;
  border: 2px solid #69CF45;
  border-radius: 5px;
  cursor: pointer;
}

/* 내 위치 주변 등록된 마켓 목록 3개 */
main > .local_market_map > .inner > .container > .container-lt > .market {
  width: 350px;
  height: 320px;
  /* background-color: darkkhaki; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > .local_market_map > .inner > .container > .container-lt .market__content_01 {
  width: 350px;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #69CF45;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 10px;
  position: relative;
}
main > .local_market_map > .inner > .container > .container-lt .market__content_02 {
  width: 350px;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #69CF45;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 10px;
  position: relative;
}
main > .local_market_map > .inner > .container > .container-lt .market__content_03 {
  width: 350px;
  height: 100px;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #69CF45;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px 10px;
  position: relative;
}
/* material-icons */
main > .local_market_map > .inner > .container > .container-lt > .market .material-icons {
  font-size: 18px;
  color: #2CAA00;
  position: absolute;
  top: 65px;
  right: 0;
  cursor: pointer;
}

/* 내 위치 주변 마켓 지도 */
main > .local_market_map > .inner .market_map {
  width: 650px;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: orange; */
  background-image: url(../image/main01_지도.JPG);
  background-size: cover;
  position: relative;
}

main > .local_market_map > .inner .market_map > span#my_location {
  color: #ff8838;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 280px;
  top: 210px;
  cursor: pointer;
}

main > .local_market_map > .inner .market_map > .material-icons {
  color: #2CAA00;
  font-size: 20px;
  cursor: pointer;
}

main > .local_market_map > .inner .market_map > span#dot_01{
  position: absolute;
  right: 220px;
  top: 240px;
}
main > .local_market_map > .inner .market_map > span#dot_02{
  position: absolute;
  left: 80px;
  top: 160px;
}
main > .local_market_map > .inner .market_map > span#dot_03{
  position: absolute;
  left: 170px;
  top: 340px;
}

main > .local_market_map > .inner .market_map > .material-icons:hover {
  color: #FFB038;
  font-size: 20px;
  cursor: pointer;
}

/* SECTION: 우리동네 마켓등록/제보  */
main > .market_submit {
  width: 100%;
  height: 680px;
  background-color: #FFF0F0;
}

/* ******************************* 슬 라 이 드 ***************************** */
main > .market_submit > .slide {
  width: 100%;
  height: 40px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}

main > .market_submit .slide_left {
  width: 700px;
  height: 40px;
  border: 1px solid #FFB038;
  border-radius: 5px;
}

main > .market_submit .slide_left > .left_01 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .market_submit .slide_left > .swiper {
  height: 25px;
  padding: 3px 0 0 140px;
}
main > .market_submit .slide_left > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
main > .market_submit .slide_right {
  width: 700px;
  height: 40px;
  border: 1px solid #FFB038;
  border-radius: 5px;
  /* background-color: orangered; */
}
main > .market_submit .slide_right > .right_01 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .market_submit .slide_right > .swiper {
  height: 25px;
  padding: 3px 0 0 150px;
}
main > .market_submit .slide_right > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
/* ***************************** 슬 라 이 드 ************************** */

main section.inner {
  width: 1200px;
  /* height: 680px; */
  /* background-color: pink; */
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
}

main section.inner > .youtube {
  width: 60%;
  /* background-color: cyan; */
}

/* ******************** youtube ******************** */
.youtube {
  position: relative;
  /* height: 680px; */
  /* 영상 출력 넘치는 부분 숨기기 */
  overflow: hidden;
}

/* .youtube .youtube__area {
  --width: 1920px;
  --height: 1080px;

  position: absolute;

  left: 50%;
  top: 50%;

  width: var(--width);
  height: var(--height);

  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--height) / -2);
} */

#player {
  /* 부모 영역에 가득 차도록 지정 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* ********************* youtube ******************* */

main .inner .submit__contents .btn-green {
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #69CF45;
  border: 1px solid #69CF45;
  border-radius: 5px;
}

/* 하루마켓 제보 큰 콘텐츠 영역 */
main .inner > .report {
  width: 45%;
  height: 500px;
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .inner .submit__contents {
  width: 500px;
  height: 200px;
  /* background-color: lightgrey; */
  position: relative;
}

main .inner .submit__contents .product__content {
  width: 100px;
  height: 32px;
  font-size: 14px;
  padding: 0 0 0 8px;
  color: #363636;
  border: 1px solid #69CF45;
  border-radius: 5px;
}

main .inner .submit__contents .product__content_etc {
  width: 140px;
  height: 32px;
  border: 1px solid #69CF45;
  border-radius: 5px;
  padding: 0 0 0 8px;
  box-sizing: border-box;
}

main .inner .submit__contents > .content_01 > .material-icons {
  color: #575757;
  font-weight: 700;
  position: absolute;
  top: 5px;
  right: 12px;
  cursor: pointer;
}

main .inner .submit__contents .location {
  width: 180px;
  height: 30px;
  border: 1px solid #69CF45;
  border-radius: 5px;
  padding: 0 0 0 8px;
  box-sizing: border-box;
}

main .inner .submit__contents > .content_02 {
  position: relative;
}

main .inner .submit__contents > .content_02 > span.material-icons {
  color: #69CF45;
  font-size: 22px;
  position: absolute;
  top: 5px;
  right: 220px;
}

main .inner .submit__contents .btn-orange {
  width: 100px;
  height: 38px;
  color: #fff;
  font-weight: 700;
  background-color: #FFB038;
  border: 1px solid #FFB038;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  bottom: 70px;
  cursor: pointer;
}

main > .local_start_market {
  width: 100%;
  height: 680px;
  background-color: orange;
}

/* MAIN- 인기 마켓 */
main > .local_star_market {
  width: 100%;
  height: 680px;
  background-color: #FAFAD2;
}

main > .local_star_market > .slide {
  width: 100%;
  height: 40px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}

main > .local_star_market .slide_left {
  width: 700px;
  height: 40px;
  border: 1px solid #FFB038;
  border-radius: 5px;
  /* background-color: orange; */
}

main > .local_star_market .slide_left > .left_03 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .local_star_market .slide_left > .swiper {
  height: 25px;
  padding: 3px 0 0 140px;
}
main > .local_star_market .slide_left > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
main > .local_star_market .slide_right {
  width: 700px;
  height: 40px;
  border: 1px solid #FFB038;
  border-radius: 5px;
  /* background-color: orangered; */
}
main > .local_star_market .slide_right > .right_04 {
  background-color: #FAEB78;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
main > .local_star_market .slide_right > .swiper {
  height: 25px;
  padding: 3px 0 0 150px;
}
main > .local_star_market .slide_right > .swiper .swiper-slide > a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

main > .local_star_market > .star_market > .inner {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: pink;
  display: flex;
}

main > .local_star_market > .star_market > .inner > .volunteer {
  width: 45%;
  height: 500px;
  background-color: lightgray;
}

main > .local_star_market > .star_market > .inner > .star_market {
  width: 55%;
  height: 200px;
  background-color: cadetblue;
}